<div class="container">
    <main>
        <section>
            <h2>Our Mission</h2>
            <p>Welcome to our blog! We aim to provide insightful articles and engaging content on various topics to inform and inspire our readers.</p>
        </section>
        <section>
            <h2>Our Team</h2>
            <p>Meet the passionate individuals behind the blog: 
               <a href="https://www.linkedin.com/in/abdalla-hassan-1b097a197/" target="_blank"  > <h4> Abdalla Hassan</h4></a>
            </p>
           
        </section>
        <section>
            <h2>Contact Us</h2>
            <p>If you have any questions or suggestions, feel free to <a href="/contact">contact us</a>.</p>
        </section>
    </main>
</div>